@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Fira Sans Extra Condensed";
}

html {
  background-color: rgb(7, 8, 13);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  width: 1200px;
  height: 97vh;
  display: grid;
  grid-template-columns: auto 20em;
  grid-template-rows: 7vh 1fr;
  gap: 2em;
  position: relative;
}

h2, h3, label {
  font-family: "Rubik Mono One", Helvetica, sans-serif;
}

header {
  grid-row: 1 / 1;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  animation: drop 1.5s linear;
}

.title {
  font-size: 3rem;
}

@keyframes drop {
  0% {
    transform: translateY(-15vh);
  }
  100% {
    transform: translateY(0);
  }
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3fr 20em;
  gap: 2em;
}

.image-wrapper {
  margin: 0 auto;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;
  object-position: top;
}

.description {
  animation: desc 1.5s linear;
  padding: 1em;
  background: rgba(101, 92, 92, 0.21);
  box-shadow: 0 0 0.2em rgba(255, 252, 252, 0.53);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5em;
  margin-top: 5em;
  height: min-content;
}

@keyframes desc {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  background: rgba(101, 92, 92, 0.21);
  box-shadow: 0 0 0.2em rgba(255, 252, 252, 0.53);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: none;
}

.next-slide {
  width: 18em;
  height: 3em;
  align-self: flex-end;
  justify-self: end;
  margin-inline: 0.5em;
}

.prev-slide {
  height: 3em;
  width: 18em;
  align-self: flex-end;
  margin-inline: 0.5em;
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.title {
  display: block;
}

select {
  appearance: none;
  padding: 0.5em 3em;
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Rubik Mono One";
  border: none;
  border: thin solid rgba(255, 252, 252, 0.53);
  border-radius: 0.3em;
  cursor: pointer;
  background: url("../public/icons8-down-button-50.png") 98% / 20%;
  background-repeat: no-repeat;
  background-size: 20px;
  font-family: "Seldom";
}

select * {
  background: rgb(7, 8, 13);
}

.descrip {
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  background: rgba(101, 92, 92, 0.21);
  box-shadow: 0 0 0.2em rgba(255, 252, 252, 0.53);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 0.5em;
  padding: 1em;
  line-height: 1.5em;
  height: 15em;
  align-self: flex-end;
  text-align: justify;
}

.descrip::first-letter {
  margin-left: 2em;
}


span {
  font-family: monospace;
}
