@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Fira Sans Extra Condensed";
}

html {
  background-color: rgb(7, 8, 13);
}

h2, h3, label, button {
  font-family: "Rubik Mono One";
}

span {
  font-family: monospace;
}

body {
  width: 100%;
  height: 100dvh;
  background-image: url("./paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-size: cover;
  overflow: hidden;
}

.App {
  height: 100vh;
  padding: 1em;
}

header {
  width: 100%;
  height: 7em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5em 3em;
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Rubik Mono One";
  border: none;
  border: thin solid rgba(255, 252, 252, 0.53);
  border-radius: 0.3em;
  max-width: 17em;
  cursor: pointer;
  background: url("../public/icons8-down-button-50.png") 98% / 20%;
  background-repeat: no-repeat;
  background-size: 20px;
  font-family: "Seldom";
}

select * {
  background: rgb(7, 8, 13);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  font-size: 2em;
}

main {
  display: grid;
  min-height: calc(100% - 8em);
  max-height: calc(100% - 8em);
  height: calc(100% - 8em);
  grid-template-columns: 20em 1fr 20em;
  grid-template-rows: 1fr 3em 10em;
  gap: 1em;
}

.image-wrapper {
  grid-column: 2 / 3;
  max-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  display: flex;
}

img {
  margin: 0 auto;
  height: 400px;
}

.specifications {
  height: 100%;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.specifications p {
  border-bottom: 1px solid white;
  line-height: 1em;
  margin-top: 0.5em;
}

.prev-slide {
  grid-column: 1 / 2;
}

.next-slide {
  grid-column: 3 / 4;
}

.description {
  grid-column: 1 / -1;
  line-height: 1.5em;
  overflow-y: scroll;
}

.description::-webkit-scrollbar {
  display: none;
}

.description::first-letter {
  margin-left: 1em;
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1em;
}

button, select {
  cursor: pointer;
}
